{
  "type": "service_account",
  "project_id": "api-project-73893596983",
  "private_key_id": "e2afe72839dbf9f39e33aad363907a9ebd563bf9",
  "client_email": "73893596983@developer.gserviceaccount.com",
  "client_id": "73893596983.apps.googleusercontent.com",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/73893596983%40developer.gserviceaccount.com"
}
